<hr>
<div class="text-center center-block">
    <footer>
        <small>&copy; Copyright {{year}}, {{appSettings.settings?.name}}</small>
    </footer>
    <br />
    <a href="{{appSettings.settings?.fb}}"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
    <a href="{{appSettings.settings?.instagram}}"><i id="social-in" class="fa fa-instagram fa-3x social"></i></a>
    <a href="mailto:{{appSettings.settings?.email}}"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
</div>